@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Ubuntu:wght@400;500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Ubuntu", sans-serif;
}

.main{
   height: 900px;
   width: 100%;
   justify-content: center;
   align-items: center;
   top: 0;
}

.main_container{
   width: 100%;
   justify-content: center;
   align-items: center;
   top: 0;
}

.main_background{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100vh;
   background-image: url("images/purple-lines-black-background.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: -1;
}

.main_content{
   display: flex;
   justify-content: space-between;
   width: 100%;
   top: 0;
}

.navbar{
   background: transparent;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   position: sticky;
   top: 0;
   width: 100%;
   z-index: 99;
}

.navbar_container{
   display: flex;
   justify-content: space-between;
   height: 80px;
   z-index: 1;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 50px;
}

.navbar_logo{
   background-image: linear-gradient(to top, #dd77ff 0%, #77ddff 100%);
   background-size: 100%;
   background-clip: border-box;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   display: flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   font-size: 2rem;
}

.fa-gem{
   padding-right: 10px;
}

.navbar_menu{
   display: flex;
   align-items: center;
   list-style: none;
   text-align: center;
}

.navbar_item{
   height: 40px;
}

.navbar_link{
   position: relative;
   transition: all 0.2s ease;
   color: #9889aa;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   height: 100%;
   letter-spacing: 1px;
   margin: 0 1rem;
}

.navbar_link:hover{
   transition: all 0.2s ease;
   color: #ffffff;
}

.navbar_link::after{
   content: '';
   position: absolute;
   height: 2px;
   width: 0%;
   left: 0;
   bottom: 0;
   background-color: #9889aa;
   transition: 0.2s;
}

.navbar_link:hover::after{
   color: #ffffff;
   width: 100%;
}

@media screen and (max-width: 960px){
   .navbar_container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1440px;
      padding: 0;
   }

   .navbar_menu{
      transition: all 0.5s ease;
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      height: 50vh;
      z-index: -1;
   }

   .navbar_menu.active{
      transition: all 0.5s ease;
      background: #000000;
      top: 100%;
      opacity: 1;
      z-index: 99;
      height: 50vh;
      font-size: 1.5rem;
   }

   .navbar_logo{
      padding-left: 25px;
   }

   .navbar_menuicon{
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.2s ease-in-out;
      background-color: #ffffff;
      display: block;
      cursor: pointer;
   }

   .navbar_item{
      width: 100%;
   }

   .navbar_link{
      text-align: center;
   }

   #mobile-menu{
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
   }

   #mobile-menu.is-active .navbar_menuicon:nth-child(2){
      opacity: 0;
   }
   #mobile-menu.is-active .navbar_menuicon:nth-child(1){
      transform: translateY(8px) rotate(45deg);
   }
   #mobile-menu.is-active .navbar_menuicon:nth-child(3){
      transform: translateX(-8px) rotate(45deg);
   }
}